# dependências
/node_modules
/.pnp
.pnp.js

# produção
/.next
/out
/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# vercel
.vercel
