# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py

# Environment
.env
.venv/
venv/
env/
ENV/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Static and media files
/staticfiles/
/media/
/venv311/
key.pem